@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    
}



body {
   background: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
   
}


:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(0 , 0, 0, 0.5);
    --surface-color: rgba(255,255,255, 0.5);
}


.light {
    --text-color: black;
    --bg-url:url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0 , 0, 0, 0.5);
    --surface-color:rgba(0,0,0, 0.5);
}


#container {
   width: 360px;
   margin: 56px auto 0px;
   padding: 0 24px;
   text-align: center;
   

}

#profile img {
     
    width: 50%;
    height: 50%;
   
    justify-content: center;
    align-items: center;
}

body * {
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 20px;
    padding:  8px 0;
    text-align: center;
    color: var(--text-color)
 
    

}

.profile-p{
     font-family: 'Zalando Sans Expanded', sans-serif;
     font-size: 20px;
     margin-top: 8px;

}


.btn {
      background: rgba(112, 38, 127, 0.16);
      color: var(--text-color)
      
          
     
    }

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

  
    
}     

ul li a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    box-shadow: 1px 2px black;
    background: var(--surface-color);
    border: 1px solid rgba( 255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: bold;
    transition: background 0.5s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}


/*social links */ 

#social-links {
    display: flex;
    color: white;
    justify-content: center;
    padding: 24px 0;
    font-size: 40px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: 0.2s;
    border-radius: 50%;
}


#social-links a:hover{
    background: rgba(255, 255, 255, 0.2);
    padding: 16px;
    
}