@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    
}



body {
   background: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
   
}


:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(0 , 0, 0, 0.1);
    --surface-color: rgba(255,255,255, 0.5);
   --surface-color-hover: rgba(0, 0, 0, 0.2);
   --highlight-color: rgba(255, 255, 255, 0.2); 
   --switch-bg-url: url(assets/moonstars.svg)
}


.light {
    --text-color: black;
    --bg-url:url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0 , 0, 0, 0.5);
    --surface-color:rgba(0,0,0, 0.5);
     --surface-color-hover: rgba(0, 0, 0, 0.2);
     --highlight-color: rgba(0, 0, 0, 0.1); 
     --switch-bg-url: url(assets/sun.svg)
}


#container {
   width: 360px;
   margin: 56px auto 0px;
   padding: 0 24px;
   text-align: center;
   

}
/*Profile*/
#profile img {
    
    width: 50%;
    height: 50%;
   
    justify-content: center;
    align-items: center;
}

.profile-p{
     font-family: 'Zalando Sans Expanded', sans-serif;
     font-size: 20px;
     margin-top: 8px;

}



/*switch*/

/*#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url)
  background-repeat: no-repeat;
  text-align: center;
  
} */


#switch {
  position: relative;
  width: 64px;
  margin: 16px auto 32px;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: left 0.3s;
  z-index: 1;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: rgb(101, 77, 101);
  
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light #switch button {
  left: 32px;
 background-color: #fff;
}

#switch button {
  transition: left 0.3s ease, transform 0.2s;
}

#switch button:hover {
  transform: translateY(-50%) scale(1.05);
}






body * {
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 20px;
    padding:  8px 0;
    text-align: center;
    color: var(--text-color)
 
    

}




.btn {
      background: rgba(115, 44, 130, 0.16);
      color: var(--text-color);
      
      
          
     
    } 

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

  
    
}     

ul li a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    box-shadow: 1px 2px black;
    background: var(--surface-color);
    border: 1px solid rgba( 255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: bold;
    transition: background 0.5s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}


/*social links */ 

#social-links {
    display: flex;
    color: white;
    justify-content: center;
    padding: 24px 0;
    font-size: 40px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
    transition:  background 0.2s;
    border-radius: 50%;
}


#social-links a:hover{
    background: var(--highlight-color);
    
    
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}